name: Heroku restart Discord bots
on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'
jobs:
  custom-deploy:
    # The `needs` is added to bypass:
    # "Your account has reached its concurrent builds limit"
    name: Heroku restart Discord bots
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Heroku login credentials
        run: |
          cat > ~/.netrc <<EOF
            machine api.heroku.com
              login $HEROKU_EMAIL
              password $HEROKU_API_KEY
            machine git.heroku.com
              login $HEROKU_EMAIL
              password $HEROKU_API_KEY
          EOF
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
      - name: restart discord bot through heroku LeCoiffeur
        run: |
             heroku restart -a $HEROKU_APP_NAME
        env:
          HEROKU_APP_NAME: ${{ secrets.HEROKU_APP_NAME }}
