# This is a basic workflow to help you get started with Actions

name: Bypass Github Cache (Updated)

# Controls when the workflow will run
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  github-cache-bypass:
    name: Bypass github cache for updated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: get current value
        id: current_value
        run: |
          CURRENT_VALUE=$(cat "updateTime.txt")
          echo "::set-output name=content::$CURRENT_VALUE"
      - name: update value
        id: updated_value
        run: |
          UPDATED_VALUE=$((${{steps.current_value.outputs.content}}+1))
          echo "::set-output name=content::$UPDATED_VALUE"
      - uses: DamianReeves/write-file-action@master
        with:
          path: updateTime.txt
          contents: ${{ steps.updated_value.outputs.content }}
          write-mode: overwrite
      - name: Commit File
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update current time"
      - uses: ad-m/github-push-action@master
        name: Push changes
        with:
          github_token: ${{ secrets.GH_TOKEN }}
